header {
    height: 75px;
    background-color: #000;
    color: #fff;
}



header img[alt='logo'] {
    margin-left: 115.28px;
}

header div {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    height: 75px;
    margin-right: 170px;

}

header a {
    height: 75px;
    width: 113.8px;
    font-size: 14px;
    font-weight: 400;
    font-family: Open Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 74.85px;
        width: 1024px;
    }

    header nav {
        display: flex;
        align-items: center;
        height: 75px;
        margin-right: 20px;

    }

    header img[alt='logo'] {
        margin-left: 20px;
    }

}


@media screen and (max-width: 480px) {
    header {
        height: 56px;
        /* width: 320px; */
        width: 100%;
        margin: 0 auto;
    }

    header img[alt='logo'] {
        margin-left: 20px;
        width: 130px;
        height: 56px;
    }

    header nav {
        display: none;
    }
}