.modern-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/image-banner.png);
}

.modern-subcontainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 1510px;
    height: 1026px;
    background-size: cover;
    display: flex;
}

.modern-subcontainer__left-side {
    width: 670px;
    margin: 208px 30px 0 170px;
}

.modern-subcontainer__left-side h1 {
    width: 670px;
    height: 168px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    margin: 72.88px 0 55.12px;
}

.modern-subcontainer__separator {
    width: 170px;
    border: 0.5px solid #fff;
}

.modern-subcontainer__left-side h5 {
    width: 270px;
    height: 42px;
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    margin: 42px 0 69px;
}

.modern-subcontainer__left-side button {
    width: 270px;
    height: 58px;
    background: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    font-family: Open Sans, sans-serif;

}

.modern-subcontainer__right-side {
    width: 470px;
    height: 450px;
    border: 1px solid #fff;
    margin-top: 208px;
    background: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
}

.modern-subcontainer__right-side h4 {
    width: 367px;
    height: 90px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 90px;
}

.modern-subcontainer__right-side .colortext {
    color: #EC7979;
}

.modern__field {
    width: 370px;
    height: 38px;
    border-bottom: 3px solid #BDBDBD;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    margin-top: 33px;
    font-family: Open Sans, sans-serif;
}

.modern__field-button {
    height: 60px;
    width: 470px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background: #EC7979;
    margin-top: 75px;
    border-radius: 0px 0px 10px 10px;
}

.modern__field:first-of-type {
    margin-top: 45px;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {


    .modern-subcontainer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 1024px;
        height: 768px;
        background-size: cover;
        display: flex;
    }

    .modern-subcontainer__left-side img {
        height: 74.85px;
        width: 183.09px;


    }

    .modern-subcontainer__left-side {
        width: 670px;
        margin: 136.98px 36.36px 0 115.28px;
    }

    .modern-subcontainer__left-side h1 {
        width: 454.36px;
        height: 128px;
        font-weight: 500;
        font-size: 36px;
        margin: 37.61px 0 41.49px;
    }

    .modern-subcontainer__separator {
        width: 115.28px;
    }

    .modern-subcontainer__left-side h5 {
        width: 183.1px;
        height: 32px;
        font-size: 14px;
        margin: 31px 0 31.32x;
    }

    .modern-subcontainer__left-side button {
        width: 183.1px;
        height: 50px;
    }

    .modern-subcontainer__right-side {
        width: 398px;
        margin: 137.15px 10px 106px 0;
    }

    .modern-subcontainer__right-side h4 {
        width: 298px;
        height: 90px;
        font-size: 18px;
    }

    .modern__field {
        width: 298px;
        margin-top: 33px;
    }

    .modern__field-button {
        height: 60px;
        width: 398px;
        margin-top: 75px;
        border-radius: 0px 0px 10px 10px;
    }

}

@media screen and (max-width: 480px) {
    .modern-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../images/image-banner-mobile.png);
    }

    .modern-subcontainer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 320px;
        height: 1005px;
        background-size: cover;
        display: block;

    }

    .modern-subcontainer__left-side img {
    display: none;
    }

    .modern-subcontainer__left-side {
        width: 288px;
        height: 380px;
        margin: 84.12px 16px 0;
    }

    .modern-subcontainer__left-side h1 {
        width: 288px;
        height: 168px;
        font-size: 36px;
        margin: 84.12px 0 43.88px;
    }

    .modern-subcontainer__separator {
        width: 134px;
        margin: 0 auto;
    }

    .modern-subcontainer__left-side h5 {
        width: 288px;
        height: 32px;
        font-size: 14px;
        text-align: center;
        margin: 42px 16px;
    }

    .modern-subcontainer__left-side button {
        width: 288px;
        height: 50px;
    }

    .modern-subcontainer__right-side {
        width: 288px;
        height: 380px;
        margin: 56px 16px 50px;
    }

    .modern-subcontainer__right-side h4 {
        width: 240px;
        font-size: 14px;
    }

    .modern__field {
        width: 240px;
        margin-top: 33px;
    }

    .modern__field-button {
        height: 60px;
        width: 288px;
    }
    .modern__field:first-of-type {
        margin-top: 0;
    }
}
