.stylish-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner2.png);
}

.stylish-subcontainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 1510px;
    height: 442px;
    background-size: cover;
}

.stylish-subcontainer h2 {
    height: 150px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    color: #fff;
    line-height: 150px;
    margin-top: 50px;
}

.stylish__separator {
    width: 170px;
    border: 0.5px solid #fff;
    margin: 0 auto;
}

.stylish-subcontainer h5 {
    height: 21px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 21px;
    margin: 40px 0 73px;
}

.stylish-subcontainer button {
    width: 370px;
    height: 58px;
    background: none;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    font-family: Open Sans;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    .stylish-subcontainer {
        background-color: rgba(0, 0, 0, 0.5);
        width: 1024px;
        height: 358px;
        background-size: cover;
    }

    .stylish-subcontainer h2 {
        height: 120px;
        font-size: 24px;
        margin-top: 50px;
    }

    .stylish__separator {
        width: 142px;
    }

    .stylish-subcontainer h5 {
        font-size: 14px;
        margin: 32px 0;
    }

    .stylish-subcontainer button {
        width: 318px;
    }
}

@media screen and (max-width: 480px) {
    .stylish-subcontainer {
        background-color: rgba(0, 0, 0, 0.5);
        height: 358px;
        background-size: 100%;
    }

    .stylish-subcontainer h2 {
        height: 120px;
        font-size: 24px;
        margin-top: 50px;
    }

    .stylish__separator {
        width: 134px;
    }

    .stylish-subcontainer h5 {
        font-size: 14px;
        margin: 32px 0;
    }

    .stylish-subcontainer button {
        width: 287px;
        height: 50px;
    }
}