
.tabs-container {
    width: 1170px;
    margin: auto;
    height: 100vh;
}

.tabs-container__tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 39px;
    font-weight: 400;
    border-bottom: 1px solid #C6CBCD;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;

}

.info-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 39px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.info-block4 {
    width: 609px;
    height: 39px;
    border-bottom: 1px solid #C6CBCD;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
}

.open-tab {
    Height: 500px;
    border: 1px solid #C6CBCD;
    border-top: 0;
    box-sizing: border-box;
    display: inline-block;

}

.right-side-tabs {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -5px;
}

.left-side-tabs {
    width: 570px;
    display: inline-block;
    margin: 0 25px 0 100px;
    position: relative;
    top: -77px;
}

.left-side-tabs h3 {
    height: 124px;
    font-size: 30px;
    font-family: Open Sans, sans-serif;
    box-sizing: border-box;
    display: inline-block;
}

.left-side-tabs h5 {
    height: 210px;
    font-size: 30px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    box-sizing: border-box;
    display: inline-block;
}

.left-side-tabs button {
    width: 270px;
    height: 58px;
    color: #FFF;
    background: #EC7979;
    border: none;
    font-size: 18px;
    margin: 0 0 54px 0;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}